.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.ProductDisplay-left{
    display: flex;
    gap: 17px;
}
.ProductDisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ProductDisplay-img-list img{
    width: 100px;
    height: 163px;
    object-fit: cover;
    cursor: pointer;
}
.productdisply-main-img{
    width: 586px;
    height: 700px;
    object-fit: cover;
}
.ProductDisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.ProductDisplay-right h1{
    display: flex;
    font-size: 40px;
    font-weight: 600;
    color: #374151;
}
.product-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 20px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-prices-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-prices-new{
    color: #ff4141;
}
.productdisplay-right-size h3{
    display: flex;
    margin-top: 55px;
    color: #656565;
    font-weight: 20px;
    font-size: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 18px 20px;
    border: 1px solid #e5e5e5;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}
.ProductDisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    display: flex;
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}